(LOG) {
    log {
        output file ./caddy.log {
            roll_size 1mb
		    roll_keep 5
		    roll_keep_for 1h
        }
        format console {
            time_format "iso8601"
        }
    }
}

(COMCFG) {
    encode zstd gzip
}

{
    debug
}

:2021 {
    import COMCFG
    import LOG
    metrics /metrics
    # respond "Goodbye, world!"
    @geocn {
        chinaip {
            db_file "./Country.mmdb"
        }
    }
    redir @geocn https://www.baidu.com${url} permanent
    respond "666"
}