(LOG) {
    log {
        output file /var/log/caddy.log {
            roll_size 1mb
		    roll_keep 5
		    roll_keep_for 1h
        }
        format console {
            time_format "iso8601"
        }
    }
}

(COMCFG) {
    encode zstd gzip
}

{
    debug
}

:80 {
    import COMCFG
    import LOG
    metrics /metrics
    @geofilter {
        geocn {
            geolocal "/etc/caddy/Country.mmdb"
        }
    }
    file_server @geofilter {
        root /etc/caddy/example/deny
    }
    file_server {
        root /etc/caddy/example/allow
    }
}
